/* === RESPONSIVE NAVBAR === */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }
}

/* Agar menu lebih rapi saat mode HP */
.navbar-nav .nav-link {
  white-space: nowrap;
}

/* === BATAS EMAIL AGAR TIDAK KEpotong === */
.text-ellipsis {
  max-width: 180px;      /* bisa disesuaikan */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
