.hero-section {
  position: relative;
  background: url('./assets/background.png') center/cover no-repeat;
  padding: 100px 0;
  overflow: hidden;
}

/* Konten hero: teks kiri, gambar kanan */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  padding-left: 80px;
}

/* Hero teks kiri */
.hero-text {
  color: #fff;
  text-align: left;
  max-width: 700px;
}

.hero-btn {
  border: 3px solid white;
  border-radius: 8px;
  height: 50px;
  width: 40%;            /* ukuran default di desktop */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* RESPONSIVE HP */
@media (max-width: 576px) {
  .hero-btn {
    width: 100% !important;    /* tombol melebar penuh */
    font-size: 16px;
    height: 45px;
  }
}


.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

/* Responsive */
@media (max-width: 992px) {
  .hero-btn {
    width: 70% !important;
  }
}

@media (max-width: 576px) {
  .hero-text h1 {
    font-size: 42px; /* tetap readable di HP */
  }
}
